<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Mediscreen</title>

</head>

<body>
	<div class="container">
	   <h1>Patients</h1>
	</div>

	<div th:each="patient : ${patients}">
	
		<table>
			<thead>
				<tr>
		            <th colspan="2">[[${patient.lastName}]] [[${patient.firstName}]]</th>
		        </tr>
			</thead>
			<tbody>
				<tr>
		            <td><b>Birth date</b></td>
		            <td th:text="${patient.birthDate}"></td>
		        </tr>
		        <tr>
		            <td><b>Gender</b></td>
		            <td th:text="${patient.gender}"></td>
		        </tr>
		        <tr>
		            <td><b>Phone</b></td>
		            <td th:text="${patient.phone}"></td>
		        </tr>
		        <tr>
		            <td><b>Address</b></td>
		            <td th:text="${patient.address}"></td>
		        </tr>
		        <tr>
		        	<td colspan="2" ><a th:href="@{/patient/{id}(id=${patient.patientId})}">See patient</a></td> 
		        </tr>
			</tbody>
		</table>
		<br>
	</div>

</body>
</html>